
.profile {
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .name {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
  }
  
  .avatar {
    border-radius: 100%;
  }
  
.tag {
  padding-top: 10px;
  padding-bottom: 10px;
}

  .stats {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding-top: 30px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .label {
   margin-right: 20px;
  }
  
  .quantity {
    font-weight: 700;
    margin-right: 20px;
    margin-top: 10px;
  }

