
.statistics {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  
  .title {
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
  }
  
  .list {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 70px;
    justify-content: center;
    border-radius: 10px;
  }
  
  .label {
    color: aliceblue;
    text-align: center;
    margin-bottom: 10px;
  
  }
  
  .percentage {
    color: aliceblue;
    text-align: center;
    font-size: 20px;
  }